*{
  background-color: rgb(43, 39, 39);
}
.mainSection{
  text-align: center;
  background-color: antiquewhite;
}
.btn-add{
  border-radius: 8px;
  background-color: black;
  color: aqua;
  border-color: aqua;
}
.btn-add:hover{
  border-radius: 15px;
  background-color: black;
  color: rgb(200, 255, 0);
  border-color: rgb(179, 255, 0);
}
.btn-add:active{
  background-color: green;
}
.inputTodo{
  background-color: aliceblue;
}
.inputTodo:hover{
  background-color: beige;
  border-color: aqua;
}
.Todo-li{
  display: flex;
  justify-content: space-between;
  border: 2px solid rgb(25, 0, 255);
  border-radius: 15px;
  color: rgb(15, 15, 15);
  background-color: rgb(184, 206, 206);
}
.Todo-li:hover{
  border-color: rgb(252, 252, 252);
}
.liInput{
  color: aliceblue;
}
.icont{
  background-color: rgb(184, 206, 206);
}
.icons{
  background-color: rgb(184, 206, 206);
}
.icons:hover{
  color:red;
  pointer-events: painted;
}
.h1{
  font-family: cursive;
}











